<div class="content-container">
  <div class="content-centered">
    <p class="above-h1-text">Synchronize time tracking applications with project management tools automatically in just
      a few steps</p>
    <h1 class="custom-h1">Login</h1>
    <form>
      <label for="email">Email *</label>
      <input id="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
        placeholder="your@email.com" [(ngModel)]="preAuthenticatedUser.username" required #email="ngModel" />
      <!-- password at least 8 characters, at least one number -->
      <label for="password">Password *</label>
      <div class="element-hint-below">
        <input id="password" name="password" type="password" [(ngModel)]="preAuthenticatedUser.password" required
          #password="ngModel" pattern="(?=.*\d)(?=.*[a-z,A-Z]).{8,}">
        <span>Provide your password (at least 8 characters with numbers).</span>
      </div>
      <mat-checkbox id="remember-credentials" name="remember-credentials" type="checkbox" color="primary"
        [(ngModel)]="rememberCredentials" (ngModelChange)="changeRememberCredentials()">Remember credentials?
      </mat-checkbox>
      <button type="submit" (click)="authenticate()">
        Log in <mat-icon fontSet="material-icons-outlined">login</mat-icon></button>
      <a [routerLink]='["/registration"]'>New user? Register <mat-icon fontSet="material-icons-outlined">how_to_reg
        </mat-icon></a>
    </form>
  </div>
</div>