<div class="content-container">
  <div class="content-centered">
    <h1 class="custom-h1">
      {{ errorCommunicatingWithCore ? 'Status unknown' : (isScheduled ? 'Sync is on' : 'Sync is off') }}
    </h1>

    <mat-icon id="sync-icon" fontSet="material-icons-outlined">
      {{ errorCommunicatingWithCore ? 'sync_problem' : (isScheduled ? 'sync' : 'sync_disabled') }}
    </mat-icon>

    <button type="button" (click)="configSyncNow()">
      Sync config objects now (projects, issues, ...)
    </button>

    <button type="button" (click)="timeEntrySyncNow()">
      Sync time entries now
    </button>

    <section *ngIf="lastSuccessfullyDoneConfig || lastSuccessfullyDoneTimeEntries" class="date-section">
      <ng-container *ngIf="lastSuccessfullyDoneConfig">
        <span>Last successful config sync job</span>
        <!-- Little bit more user-friendly text (Today or Yesterday or date) -->
        <span *ngIf="!isLastSuccessfullyDoneConfigToday && !isLastSuccessfullyDoneConfigYesterday">
          {{ lastSuccessfullyDoneConfig | date : 'MM/dd/YY HH:mm' : 'UTC+2' }}
        </span>
        <span *ngIf="isLastSuccessfullyDoneConfigToday">
          Today {{ lastSuccessfullyDoneConfig | date : 'HH:mm' : 'UTC+2' }}
        </span>
        <span *ngIf="isLastSuccessfullyDoneConfigYesterday">
          Yesterday {{ lastSuccessfullyDoneConfig | date : 'HH:mm' : 'UTC+2' }}
        </span>
      </ng-container>
      <ng-container *ngIf="lastSuccessfullyDoneTimeEntries">
        <span>Last successful time entries sync job</span>
        <span *ngIf="!isLastSuccessfullyDoneTimeEntriesToday && !isLastSuccessfullyDoneTimeEntriesYesterday">
          {{ lastSuccessfullyDoneTimeEntries | date : 'MM/dd/YY HH:mm' : 'UTC+2' }}
        </span>
        <span *ngIf="isLastSuccessfullyDoneTimeEntriesToday">
          Today {{ lastSuccessfullyDoneTimeEntries | date : 'HH:mm' : 'UTC+2' }}
        </span>
        <span *ngIf="isLastSuccessfullyDoneTimeEntriesYesterday">
          Yesterday {{ lastSuccessfullyDoneTimeEntries | date : 'HH:mm' : 'UTC+2' }}
        </span>
      </ng-container>
      <span *ngIf="showDatesCanBeOutdated" class="outdated-notice">
        (Data can be outdated. Please relogin to see exact current timestamps.)
      </span>
    </section>

    <h2 class="custom-h2">How to correctly sync time entry</h2>
    <section>
      <ng-container *ngFor="let service of serviceHints">
        <span><strong>{{ service.serviceName }}</strong></span>
        <div [innerHtml]="service.timeEntriesSyncHint"></div>
      </ng-container>
    </section>
    
    <button id="change-sync-btn" type="button" (click)="changeSync()">
      {{ isScheduled ? 'Turn off sync' : 'Turn on sync' }}
    </button>

    <h2 class="custom-h2">Revisit configuration step</h2>
    <div class="steps-container">
      <a *ngFor="let step of reachableSteps" [routerLink]='["/" + step.route]'>
        <span class="order-padding">{{ step.order }}</span> {{ step.label }}
      </a>
    </div>
  </div>
</div>