h2 {
  padding-top: 4.0em;
  padding-bottom: unset;
  margin-bottom: unset;
}

button {
  max-width: 20em;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
}

section>* {
  padding-bottom: 1em;
  font-family: Montserrat, Arial, sans-serif;
  font-size: clamp(1em, 4vw, 1.7em);
  line-height: 1.2em;
  text-align: center;
}

section.date-section>*.outdated-notice {
  font-size: clamp(0.6em, 2vw, 0.9em);
}

section.date-section>* {
  font-size: clamp(0.8em, 3vw, 1.4em);
}

.order-padding {
  padding-right: 0.8em;
}