header {
  position: fixed;
  height: calc(1.9em + 1.6vw);
  background: var(--header-color);
  z-index: 99;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1em;
  font-family: Montserrat Medium, Arial, sans-serif;
  font-size: calc(0.7em + 1.6vw);
  box-shadow: 0px 1px 8px -2px var(--text-color);
  -moz-box-shadow: 0px 1px 8px -2px var(--text-color);
  -webkit-box-shadow: 0px 1px 8px -2px var(--text-color);
}

.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 0.6em;
}

.user-card a {
  font-size: 0.8em;
}

.user-card:last-child {
  padding-right: 3em;
}

#loading-symbol-background {
  z-index: 1500;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* inspiration https://loading.io/css/ */

.loading-symbol {
  z-index: 1501;
  display: inline-block;
  position: fixed;
  top: calc(50% - 4.2em);
  /*half screen minus half circle (8 / 2 em) minus .2 border*/
  left: calc(50% - 4.2em);
}

.loading-symbol div {
  box-sizing: border-box;
  display: block;
  position: fixed;
  width: 8em;
  height: 8em;
  border: .2em solid var(--action-color);
  border-radius: 50%;
  animation: loading-symbol 1.2s cubic-bezier(.5, 0, .5, 1) infinite;
  border-color: var(--action-color) transparent transparent transparent;
}

.loading-symbol div:nth-child(1) {
  animation-delay: -0.15s;
}

.loading-symbol div:nth-child(2) {
  animation-delay: -0.3s;
}

.loading-symbol div:nth-child(3) {
  animation-delay: -0.45s;
}

@keyframes loading-symbol {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}