<!-- loading symbol overlapping whole content -->
<div id="loading-symbol-background" [hidden]="loadingHidden">
  <div class="loading-symbol">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<main>
  <header>
    Timer2Ticket
    <div *ngIf="user" class="user-card">
      <mat-icon fontSet="material-icons-outlined">account_circle</mat-icon>
      {{ user.username }}
      (<a [routerLink]='["/logout"]'>Logout</a>)
    </div>
  </header>
  <router-outlet></router-outlet>
</main>