<div class="content-container">
  <div class="content-centered">
    <h1 class="custom-h1">Change password</h1>
    <form>
      <label for="old-password">Old password *</label>
      <div class="element-hint-below">
        <input id="old-password" name="old-password" type="password" pattern="(?=.*\d)(?=.*[a-z,A-Z]).{8,}"
          [(ngModel)]="oldPassword" required #oldpassword="ngModel" />
        <span>Provide your old password.</span>
      </div>
      <label for="new-password">New password *</label>
      <div class="element-hint-below">
        <input id="new-password" name="new-password" type="password" [(ngModel)]="newPassword" required
          #newpassword="ngModel" pattern="(?=.*\d)(?=.*[a-z,A-Z]).{8,}">
        <span>Provide your new password (at least 8 characters with numbers).</span>
      </div>
      <label for="new-password-again">New password again *</label>
      <div class="element-hint-below">
        <input id="new-password-again" name="new-password-again" type="password" [(ngModel)]="newPasswordAgain" required
          #newpasswordagain="ngModel" pattern="(?=.*\d)(?=.*[a-z,A-Z]).{8,}">
        <span>Provide your new password again.</span>
      </div>
      <button type="submit" (click)="changePassword()" [disabled]="!oldpassword.valid || !newpassword.valid || !newpasswordagain.valid">
        Change password <mat-icon fontSet="material-icons-outlined">lock_open</mat-icon></button>
    </form>
  </div>
</div>