/* You can add global styles to this file, and also import other style files */

:root {
  --background: #EEE0FF;
  --text-color: #381276;
  --action-color: #D6BCF6;
  --header-color: var(--action-color);
  --disabled-background: #E1D2FF;
  --disabled-color: #AB86D8;
  --notifs-background-color: var(--action-color);
  --notifs-content-color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background: var(--background);
}

.mat-h1, .mat-headline, .mat-typography h1 {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  font-family: Montserrat Medium, Arial, sans-serif;
  font-size: clamp(2em, 10vw, 4.5em);
  text-align: center;
}

.mat-h2, .mat-title, .mat-typography h2 {
  padding-bottom: 1.3em;
  font-family: Montserrat Medium, Arial, sans-serif;
  font-size: clamp(1.5em, 6vw, 2.3em);
  text-align: center;
}

.mat-h3, .mat-subheading-2, .mat-typography h3 {
  padding-bottom: 1.0em;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.9em;
  text-align: center;
}

p {
  font-family: Montserrat, Arial, sans-serif;
  font-size: 1.3em;
  text-align: center;
}

label {
  font-family: Montserrat, Arial, Sans Serif;
  font-size: calc(0.7em + 1.05vw);
  color: var(--text-color);
}

label .mat-checkbox-label {
  font-size: calc(0.6em + 0.3vw);
}

button, input, select {
  border-radius: 50px;
  font-family: Montserrat, Arial, Sans Serif;
  font-size: calc(0.7em + 0.9vw);
  margin-top: 0.2em;
  margin-bottom: 1em;
  color: var(--text-color);
  transition: all .2s linear;
  padding: 0.5em;
}

button {
  background-color: var(--action-color);
  border: 1px solid var(--action-color);
  width: 90%;
  height: 3em;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  transition: all .2s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
  background-color: var(--disabled-background);
  color: var(--disabled-color);
}

input, select {
  border: 3px solid var(--text-color);
  background-color: var(--background);
  /* text-indent: 2.0vh; */
  text-align: center;
  width: 80%;
}

select {
  width: 70%;
}

.element-hint-below {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.7em;
  width: 80%;
}

.element-hint-below input, select {
  width: 100%;
  margin-bottom: 0.3em;
}

.element-hint-below select {
  width: 110%;
  margin-bottom: 0.3em;
}

.element-hint-below span {
  font-family: Montserrat, Arial, Sans Serif;
  font-size: calc(0.5em + 0.6vw);
  text-align: center;
}

a {
  font-family: Montserrat, Arial, Sans Serif;
  font-size: calc(0.8em + 0.85vw);
  text-decoration: none;
  text-align: center;
  height: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.content-container {
  min-width: 100%;
  /* 100% minus header height */
  min-height: calc(100% - (1.3em + 1.6vw));
  display: flex;
  justify-content: center;
  /* at least same as header => height: calc(1.3em + 1.6vw); */
  padding-top: calc(2.8em + 1.6vw);
}

.content-centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  padding-bottom: 7em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(1em, 4vh, 1.5em);
  width: clamp(28em, 30vw, 38em)
}

form label {
  padding-top: 1.2em;
}

.steps-container {
  padding-top: 2.0em;
}

.steps-container>* {
  padding-top: 1.2em;
}

.above-h1-text {
  font-family: Montserrat Light, Arial, sans-serif;
  color: var(--text-color);
  padding-top: calc(1.3em + 1.6vw);
  font-size: clamp(1em, 4vw, 1.7em);
  text-align: center;
  line-height: 1.2;
}

@media only screen and (max-width: 880px) {
  .filters-container {
    flex-direction: column;
  }
  .content-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
  }
  input, select {
    border: 2px solid var(--text-color);
  }
}

@media only screen and (max-width: 440px) {
  nav {
    gap: 0.4em;
  }
  form {
    gap: 0.7em;
    width: 90vw;
  }
  .content-centered {
    width: 90vw;
  }
  input, select {
    border: 1px solid var(--text-color);
  }
}

.mat-dialog-container {
  background: var(--background);
  color: var(--text-color);
}

.rotate-180-deg {
  transform: rotate(180deg);
}

.centered {
  display: flex;
  justify-content: center;
}

.icon-large {
  font-size: x-large;
}

button:not(.disabled):hover, a:hover, input[type="button"]:hover {
  transform: scale(1.02, 1.02);
}

button:not(.disabled):active, input[type="button"]:active {
  transform: scale(0.95, 0.95);
}