<div class="content-container">
  <div class="content-centered">
    <p class="above-h1-text">We need to go through a few steps to correctly configure Timer2Ticket</p>
    <h1 class="custom-h1">1 / {{ stepsCount }}</h1>
    <h2 class="custom-h2">Choose at least 2 services to sync</h2>
    <form>
      <div class="services-container">
        <button *ngFor="let service of servicesToChooseList" type="button" (click)="chooseService(service)">
          <strong *ngIf="service.isChosen">{{ service.name }}</strong>
          <ng-container *ngIf="!service.isChosen">{{ service.name }}</ng-container>
          <mat-icon *ngIf="service.isChosen" fontSet="material-icons-outlined" class="icon-large">check</mat-icon>
        </button>
      </div>
      <div class="steps-container">
        <a *ngIf="steps && steps.nextRoute && user.status !== 'registrated'"
          [routerLink]='["/config-steps/confirmation"]' (click)="nextStep()">
          Jump to confirmation
        </a>
        <a *ngIf="user.status !== 'registrated'" [routerLink]='["/overview"]'>
          Overview (without changes)
        </a>
        <a *ngIf="steps && steps.nextRoute" [routerLink]='["/" + steps.nextRoute]' (click)="nextStep()">
          Next step
        </a>
      </div>
    </form>
  </div>
</div>